# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#


# Adicionado aqui para baixo

*.pdf
*.docx
*.exe
*.win
*.dev
*.o
*.layout
*.gz